#kiosk-wrapper {
}
#kiosk-wrapper .control-container {
}
#kiosk-wrapper .control-container .rendering-control-box {
  display: flex;
  align-items: center;
}
#kiosk-wrapper .control-container .rendering-control-box .rendering-control-options {
  margin-left: 12px;
}
#kiosk-wrapper .control-container .rendering-control-box .rendering-control-buttons {
  margin-left: 12px;
}

#integration-form .integration-value-container .heading {
  display: flex;
  align-items: center;
}
#integration-form .integration-value-container .heading h3 {
  margin-right: 16px;
}
#integration-form .integration-value-container .box {
  margin-bottom: 12px;
}
#integration-form .integration-value-container .box label {
  margin-right: 12px;
}
#integration-form .integration-value-container .box label > span {
  margin-right: 12px;
}
